<%- include('./templates/header.ejs') %>
<body>
<%- include('./templates/nav.ejs') %>

<div class="container">
    <h2>
        Pagina de inicio
    </h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad, doloremque earum, enim excepturi hic incidunt
        ipsa ipsum iure magnam maiores nulla obcaecati officiis quam quia quis quo tempora voluptatem.
    </p>
</div>


<%- include('./templates/Footer.ejs') %>
</body>
</html>